<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Paye.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A134261B1F614C3800E63D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A134262F1F614C3800E63D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A134263A1F614C3800E63D90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
